<?xml version="1.0"?>
<launch>
  <arg name="quad_name" default="$(arg quad_name)"/>

  <arg name="mav_name" default="$(arg quad_name)"/>

  <arg name="use_unity_editor" default="false" />
  
  <arg name="scene_id" default="1"/>
  
  <!-- RPG stuff !-->
  <group ns="$(arg quad_name)" >


    <!-- RPG Flightmare Unity Render. -->
    <node pkg="flightrender2" type="RPG_Flightmare.x86_64" name="rpg_flightmare_render_2" unless="$(arg use_unity_editor)">
    </node>
    
    <node pkg="flightmare_px4" type="flightmare_px4" name="flightmare_px4" output="screen">
      <rosparam file="$(find flightmare_px4)/params/default.yaml" /> 
      <remap from="ground_truth/odometry" to="$(arg quad_name)/self_localization/pose" />
      <param name="scene_id" value="$(arg scene_id)"/>
      <param name="cam_x" value="0.35"/>
      <param name="cam_y" value="0.0"/>
      <param name="cam_z" value="0.2"/>
      <param name="cam_qx" value="0.4777144"/>
      <param name="cam_qy" value="-0.4777144"/>
      <param name="cam_qz" value="0.5213338"/>
      <param name="cam_qw" value="-0.5213338"/>
    </node>
  </group> 

</launch>
